@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background: rgba(5, 38, 255, 0.09);
    border-color: black;
}
* {
    font-family: Roboto;
}
select, input, textarea{
    border: 1px solid #c2c2cd;
    outline-color: #8691c5;
    color: #003cd6;
    border-radius: 4px;
}
#animate {
    animation: animato 700ms ease-in-out infinite;
}
@keyframes animato {
    0% {
        transform: translateY(10px);
    }
    70% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}
*::-webkit-scrollbar {
    display: none;
}